@use '../scss/mixins';
@use '../scss/svg';

.svg_container {
    height: 20rem;
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    // background-color: rgba(251, 251, 251, 0.171);
    display: none;

    @media (max-width: 800px) {
        display: initial;
    }

    .icons {
        width: 100%;
        padding-left: 2rem;
        @include mixins.flex(row, space-around, center);
        height: 15.8rem;
        flex-wrap: wrap;
        div {
            @include mixins.flex(row, flex-start, center);
            width: 33%;
            // border: 1px dashed red;
            span {
                opacity: 1 !important;
                font-weight: 600;
                font-size: 1.8rem;
                @media (max-width: 600px) {
                    font-size: 1.1rem;
                    font-weight: 500;
                }
                @media (max-width: 450px) {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }
    }
}
