@use '../scss/mixins';

.container {
    width: 100vw;
    padding-top: 4rem;
    height: 100%;
}

.header {
    @include mixins.flex(column, center, center);

    .image_container {
        @include mixins.flex(column, center, center);
        padding: 2rem 0;
    }
}

.headerImage {
    width: 9rem;
    height: 9rem;
}

// .headerHomeImage {
//     width: 8rem;
//     height: 8rem;
// }

.backToHome {
    margin: 3rem 0 0;
}

.splash {
    width: 100%;
    min-height: 62vh;
    background: url("../public/images/alt-large-splash.jpg") 100% / cover no-repeat fixed;
    background-position-x: center;
    color: white;
}
