@use '../scss/mixins';
@use '../scss/svg';

.svg_container {
    height: 8rem;
    width: 100%;
    text-align: center;
    @media (max-width: 1101px) {
        height: 17rem;
    }
    @media (max-width: 800px) {
        display: none;
    }
    .icons {
        width: 100%;
        height: 7rem;
        @include mixins.flex(row, space-evenly, center);
        @media (max-width: 1101px) {
            height: 14rem;
            flex-wrap: wrap;
        }
        div {
            @include mixins.flex(column, center, center);
            @media (max-width: 1101px) {
                width: 10%;
                span {
                    opacity: 1 !important;
                }
            }
        }
        div:hover {
            span {
                opacity: 1 !important;
            }
        }
    }
}
