@use '../scss/mixins';
@use '../scss/svg';

.svg_container {
    height: 8rem;
    width: 100%;
    text-align: center;
    .icons {
        width: 100%;
        height: 7rem;
        @include mixins.flex(row, space-evenly, center);
        div {
            @include mixins.flex(column, center, center);
        }
        div:hover {
            span {
                opacity: 1 !important;
            }
        }
    }
}
