@use "../../scss/mixins";

.footer {
    @include mixins.flex(column, space-evenly, center);
    background: #f5f5f5;
    height: 6rem;
    width: 100vw;
    bottom: 0;
    @media (max-width: 800px) {
        height: 16rem;
        @include mixins.flex(column, space-evenly, none);
    }

    .contact {
        @include mixins.flex(row, space-evenly, none);
        width: 100%;
        @media (max-width: 800px) {
            height: 16rem;
            @include mixins.flex(column, space-evenly, flex-start);
            padding-left: 1rem;
        }
        div {
            min-height: 40px;
            border-right: 2px solid #ddd;
            @include mixins.flex(row, center, center);
            width: 25%;
            font-size: 1.2rem;
            color: #717981;
            a {
                color: #717981;
            }
            .link:hover {
                color: blue;
            }
            @media (max-width: 1100px) {
                font-size: 1.1rem;
                padding: 0 5px;
                overflow: hidden;
            }
            @media (max-width: 1000px) {
                font-size: 1rem;
                min-width: 25%;
                @include mixins.flex(column, flex-start, center);
                pre {
                    margin: 0.5rem 0;
                }
                margin-bottom: 0.5rem;
            }
            @media (max-width: 800px) {
                width: 70%;
                @include mixins.flex(row, space-between, center);
                border-right: none;
                border-left: 2px solid #ddd;
            }
            @media (max-width: 375px) {
                width: 90%;
                @include mixins.flex(row, space-between, center);
                border-right: none;
                border-left: 2px solid #ddd;
            }
        }

        .social_icons {
            @include mixins.flex(row, space-between, center);
            width: 30%;
            .github_icon:hover {
                color: #f4cbb2;
                cursor: pointer;
            }
            .twitter_icon:hover {
                color: #00acee;
                cursor: pointer;
            }
            .linkedin_icon:hover {
                color: #0072b1;
                cursor: pointer;
            }
            @media (max-width: 800px) {
                width: 70%;
            }
            @media (max-width: 1030px) {
                width: 50%;
            }
        }
    }
    .credits {
        * {
            font-size: 1rem;
            color: #717981;
        }
        padding-bottom: 0.5rem;
        .photo_credits {
            border-right: solid 2px #717981;
            margin-right: 0.5rem;
            padding-right: 0.5rem;
        }
        @media (max-width: 800px) {
            @include mixins.flex(column, space-between, center);
            flex-wrap: wrap;
            .photo_credits {
                height: 1.5rem;
                padding: 0;
                margin: 0;
                border-right: none;
            }
        }
        @media (max-width: 400px) {
            height: 8rem;
            text-align: center;
        }
    }
}
