$css3-color: #1572b6;
$github-color: #181717;
$graphql-color: #e10098;
$html5-color: #e34f26;
$javascript-color: #f7df1e;
$next-js-color: #000000;
$node-js-color: #339933;
$postgreSQL-color: #336791;
$python-color: #3776ab;
$react-color: #61dafb;
$redux-color: #764abc;
$sass-color: #cc6699;
$zeit-color: #000000;
